/* Style général du formulaire */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

/* Style des étiquettes */
label {
    font-weight: bold;
}

/* Style des champs de saisie et du menu déroulant */
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton de soumission et du bouton de réinitialisation */
input[type=submit], input[type=reset] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #45a049;
}
