<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <section>
        <div class="signup-form">
            <form action="../../model/User/user.php" method="post">
                <table>
                    <tr>
                        <td>
                            <label for="First_Name">First Name :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="text" name="First_Name" id="First_Name" placeholder="First Name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Last_Name">Last Name :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="text" name="Last_Name" id="Last_Name" placeholder="Last Name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Email">Email :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="email" name="Email" id="Email" placeholder="Email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Phone_number">Phone Number :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="text" name="Phone_number" id="Phone_number" placeholder="Phone Number">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Password">Password :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="password" name="Password" id="Password" placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Birthdate">Birthdate :</label>
                        </td>
                        <td>
                            <input class="signup-form-elements" type="date" name="Birthdate" id="Birthdate">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Country">Country :</label>
                        </td>
                        <td>
                            <select class="signup-form-elements" name="Country" id="Country">
                                <option value="">Select Country</option>
                                <option value="Country 1">Country 1</option>
                                <option value="Country 2">Country 2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Role">Role :</label>
                        </td>
                        <td>
                            <select class="signup-form-elements" name="Role" id="Role">
                                <option value="">Select Role</option>
                                <option value="Admin">Organisation</option>
                                <option value="User">User</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</body>

</html>