<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Verified</title>
    <link rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="message-container">
            <h1>Account Verified Successfully</h1>
            <p>Your account has been successfully verified.</p>
            <a href="user.html#signin">Return to Login</a>
        </div>
    </div>
</body>
<style>
    body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #3cba54;
}

</style>
</html>
