/* Pallet #FFFF #474747 #F4A271 #88A7BF #FFC857 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    background-image: url("/assets/project/form_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

td {
    padding: 10px;

    color: #474747;
}

table {
    margin: auto;
    padding: 0px 20px;
    width: 100%;
    border: 1px solid #474747;
    background-color: aliceblue;
    border-radius: 20px;
}

textarea {
    resize: none;
}

.form-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-form-elements {
    padding: 10px;
    border: #474747 1px solid;
    border-radius: 5px;
}

.project-form-elements:hover {
    border: #FFC857 1px solid;
    border-radius: 25px;
    transition: 0.5s;
}

.project-form-elements:focus {
    border: #FFC857 1px solid;
    border-radius: 25px;
    transition: 0.5s;

}

#submit,
#reset {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px;
    border: #474747 1px solid;
    border-radius: 5px;


}