<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="../Project/project.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header>
        <div class="upbar-menu">

            <ul class="upbar" type="none">
                <li class="upbar-elements"><img src="/assets/logo/logo.png" id="logo" alt="Logo"></li>
                <li class="upbar-elements" id="title">
                    RecoveryButterfly
                </li>
                <div class="upbar-right">
                    <li class="upbar-elements" id="joinUS"><a href="view/register/register.html">Join Us</a></li>
                    <li class="upbar-elements" id="login"><a href="view/login/login.html">Log In</a></li>

                </div>
            </ul>
        </div>

        <div class="menu">
            <ul class="nav_bar" type="none">
                <li class="menu-elements"><a href="view/index/index.html">Home</a></li>
                <li class="menu-elements"><a href="view/about/about.html">About Us</a></li>
                <li class="menu-elements"><a href="view/News/news.html">News</a></li>
                <li class="menu-elements"><a href="view/Project/project.html">Projects</a></li>
                <li class="menu-elements"><a href="view/Feedback/feedback.html">Feedback</a></li>
                <li class="menu-elements"><a href="view/Contact/contact.html">Contact</a></li>
            </ul>
        </div>
    </header>
    <section>
        <div class="project-form">
            <form action="#" method="post">
                <table>
                    <tr>
                        <td>
                            <label for="project-name">Project Name :</label>
                        </td>
                        <td>
                            <input class="project-form-elements" type="text" name="project-name" id="project-name"
                                placeholder="Project Name">
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="project-description">Project Description :</label>
                        </td>
                        <td>
                            <textarea class="project-form-elements" name="project-description" id="project-description"
                                placeholder="Project Description" aria-setsize="20"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="project-start">Project Start Date :</label>
                        </td>
                        <td>
                            <input class="project-form-elements" type="date" name="project-start" id="project-start"
                                placeholder="Project Start Date">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="project-goal">Project Start Date :</label>
                        </td>
                        <td>
                            <input class="project-form-elements" type="text" name="project-goal" id="project-goal"
                                placeholder="Project Goal">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="project-type">Project Type :</label>
                        </td>
                        <td>
                            <select name="project-type" class="project-form-elements" id="project-type">
                                <option value="1">Project Type 1</option>
                                <option value="2">Project Type 2</option>
                                <option value="3">Project Type 3</option>
                                <option value="4">Project Type 4</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <div class="form-low">
                            <td>
                                <input name="submit" id="submit" type="submit" value="Create">
                            </td>
                            <td>
                                <input name="reset" id="reset" type="reset" value="Reset">
                            </td>
                        </div>
                    </tr>
                </table>
            </form>
        </div>

    </section>
    <script src="project.js"></script>
</body>

</html>