<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="dashboard.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="#" class="logo">
                            <img src="./../../assets/logo/logo.png" alt="">
                            <span class="nav-item">Dashboard</span>
                        </a></li>
                    <li><a href="#">
                            <i class="fas fa-home"></i>
                            <span class="nav-item">Home</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-user"></i>
                            <span class="nav-item">Profile</span>
                        </a></li>
                        <li><a href="">
                            <i class="fas fa-users"></i>
                            <span class="nav-item">Users</span>
                        </a></li>
                    
                    <li><a href="">
                            <i class="fas fa-cog"></i>
                            <span class="nav-item">Settings</span>
                        </a></li>
                  
                    <li><a href="" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Log out</span>
                        </a></li>
                </ul>
            </nav>

            <section class="main">
                <div class="Home">
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                </div>
            </section>
        </div>
    </body>

    </html>
</span>