@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Pallet #FFFF #474747 #F4A271 #88A7BF #FFC857 */
* {
    box-sizing: border-box;

}

body {
    background: #f6f5f7;
}

section {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

textarea {
    resize: none;
    padding: 5px;
    width: 20em;
    min-height: 5em;
    overflow: auto;
    background-color: #eee;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 80%;
    background: #FFFFFF;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #F4A271;

}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}