<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple Crud</title>
    <link rel="stylesheet" href="type.css">
</head>

<body>
    <header>
        <h1>Crud Expempl</h1>
        <h1>Project Type</h1>
    </header>
    <section>
        <a href="type_create.html">Create a New Type</a><br>
        <a href="type_delete.html">Delete a Type</a><br>
        <a href="type_update.html">Update a Type</a><br>
        <a href="../../model/Type/type_read.php">Show all Types</a><br>
    </section>
</body>

</html>