/* Pallet #FAF9F6 #474747 #88A7BF #F4A271 #FFC857 */


#mission-image {
    width: 500px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.mission {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;

}