<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="upbar">
            <p id="email">RecoveryButterfly@gmail.com</p>
            <div class="registerBar">
                <span id="login"><a href="view/login/login.php">Log In</a></span>
                <span id="joinUS"><a href="view/register/register.php">Join Us</a></span>
            </div>
        </div>
        <hr>
        <div class="menu">
            <ul type="none" class="nav_bar">
                <li><a href="index.html">Home</a></li>
                <li><a href="view/about/about.html">About Us</a></li>
                <li><a href="view/News/news.html">News</a></li>
                <li><a href="view/Feedback/feedback.html">Feedback</a></li>
                <li><a href="view/Feedback/feedback.html">Feedback</a></li>
                <li><a href="view/Contact/contact.html">Contact</a></li>
            </ul>
        </div>
    </header>



</body>

</html>