<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>

</head>
<body>
 <form action="../../model/Category/category_update.php" method="POST">
                    <table>
                        <tr>
                            <td><label for="name-update">Type Name to update</label></td>
                            <td><input type="text"  name="name-update"></td>
                        </tr>
                        <tr>
                            <td><label for="name">Type Name to update</label></td>
                            <td><input type="text" id="name" name="name"></td>
                        </tr>
                        <tr>
                            <td><label for="description">Type Description</label></td>
                            <td>
                                <textarea id="description" name="description"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Update" ></td>
                            <td><input type="reset" value="Reset"></td>
                        </tr>
                    </table>
                </form>
    
</body>
</html>