<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <form action="../../model/Category/category_create.php" method="post">
        <label for="name">name: </label>
        <input type="text" name="name">
        <label for="description"> description</label>
        <input type="text" name="description" id="description">
        <input type="submit" value="create">
        <input type="reset" value="reset">
        



    </form>
</body>
</html>