/* Font import and global styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --accent-color: #F4BE37;
  --secondary-color: #E2EAF1;
  --dark-color: #092035;
  --body-text-color: #7C8990;
  --light-text-color: #9CA5AD;
  --link-color: #092035;
}

body {
  background: #dfe9f5;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

/* Navigation Styles */
nav {
  position: relative;
  height: 100vh;
  width: 280px;
  background: #ffff;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 70px;
  transition: width 0.5s;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  border-radius: 0 20px 20px 0;
}

.navbar:hover {
  width: 225px;


}

.navbar .nav-item {
  visibility: hidden;
}



.navbar:hover .nav-item {
  visibility: visible;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  right: 10px;
}

.logo span {
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

a {
  color: rgb(85, 83, 83);
  font-size: 20px;
  display: block;
  padding: 20px;
}

a:not(.logo):hover {
  background-color: #F4BE37;
  color: #fff;
  transition: 0.2s;

}

/* Users Styles */


.users .card {
  width: 100%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;

}

.users .card h3 {
  margin: 10px;
  text-transform: capitalize;

}

.users .card td {
  padding: 30px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


}

.modal-content {
  padding: 20px;
  width: 100%;
}

/* Form Styles */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="number"],
.modal-content input[type="date"],
.modal-content textarea,
.modal-content select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;

}

.modal-content label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  padding: 10px;
}

.modal-content input,
select,
textarea {
  display: inline-block;
  position: relative;
  left: 100px;
  width: 150px;
  padding: 10px;
}



.modal-content input[type="submit"] {
  width: calc(100%);
  background-color: var(--accent-color);
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content input[type="reset"] {
  width: calc(100%);
  color: black;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button styles */
button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;

}


button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;

}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--dark-color);
  font-size: 20px;
}



textarea {
  resize: none;
}

.table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}